a {
    margin-left: 40px !important;
    margin-right: 35px;
    text-align: center;
;
}
h1 {
    margin-left: 88px !important;
    margin-right: 150px !important;

}
il {
    text-align: center !important;
}